
<div style="text-align: center; width: 800px; margin-left: 10%">
    <h3> SciRuby github data analysis (This table is generated using daru-view/datatables, taken dataframe as data source)</h3>
    <b>Data is taken from url : https://api.github.com/orgs/Sciruby/repos </b>
    <p>
      <br>
      <%=raw @df_links_table.div %>
    </p>
</div>
