
<div class="span12 pagination-centered" style="text-align: center;">
    <h3> SciRuby github data analysis (This table is generated using daru-view/datatables, taken dataframe as data source)</h3>
    <b>Data is taken from url : https://api.github.com/orgs/Sciruby/repos </b>
    <p style="left: 50%">
      <br>
      <%=raw @df_links_table.div %>

    </p>
    <br>
</div>
