
<div style="text-align: center;">
  <h3> Election data</h3>
  <b>Data is taken from url : http://eciresults.nic.in/PartyWiseResult.htm </b>
  <p style="left: 50%">
    <b>SciRuby Datatable : </b>
    <%=
      daru_table(
        @elections,
        adapter: :googlecharts, pageSize: 10,
        height: 300, width: 400
      )
    %>

    <b>Chart : (Pie chart) </b>
    <br>
    <%=
      daru_chart(
        @elections.clone('Party', 'Won'),
        type: :pie,
        adapter: :googlecharts,
        height: 500,
        width: 1000
      )
    %>

    <b>Chart : (Histogram chart) </b>
    <br>
    <%=
      daru_chart(
        @elections.clone('Party', 'Won'),
        type: :histogram,
        adapter: :googlecharts,
        height: 500,
        width: 1000
      )
    %>
  </p>
</div>
