
<div style="text-align: center;">
    <h3> Election data</h3>
    <b>Data is taken from url : http://eciresults.nic.in/PartyWiseResult.htm </b>
      <p style="left: 50%">

      <b>SciRuby Datatable : </b>
      <%=raw @df_stock_table.div %>

      <b>Chart : (Pie chart) </b>
      <br>
      <%=raw @df_stock_pie_chart.div %>

      <b>Chart : (Histogram chart) </b>
      <br>
      <%=raw @df_stock_col_chart.div %>

      </p>
      <br>
</div>
