
<div class="span12 pagination-centered" style="text-align: center;">
    <h3> SciRuby github data analysis (Using daru-view/googlecharts)</h3>
    <b>Data is taken from url : https://api.github.com/orgs/Sciruby/repos </b>

    <%= render 'export' %>

    <p style="left: 50%">

      <b>SciRuby/Repos Datatable : </b>

      <%=
        daru_table(
          @df_repos,
          adapter: :googlecharts, pageSize: 10,
          height: 300, width: 400
        )
      %>

      <b>Chart : (Column chart) </b>
      <br>
      <%=raw @df_repos_col_chart.div %>

      <b>Chart : (histogram chart) </b>
      <br>
      <%=raw @df_repos_histo_chart.div %>

    </p>
    <br>
</div>
