
<div class="span12 pagination-centered" style="text-align: center;">
    <h3> SciRuby github data analysis (Using daru-view/googlecharts)</h3>
    <b>Data is taken from url : https://api.github.com/orgs/Sciruby/repos </b>
    <%=
      daru_download formats: %w[csv xls json], separator: '|'
    %>
    <p style="left: 50%">
      <b>SciRuby Datatable : </b>
      <%=
        daru_table @df_repos,
                   adapter: :googlecharts,
                   pageSize: 10,
                   height: 300,
                   width: 400
      %>

      <b>Chart : (Column chart) </b>
      <br>
      <%=
        daru_chart @df_repos,
                   type: :column,
                   adapter: :googlecharts,
                   height: 500,
                   width: 1000
      %>

      <b>Chart : (histogram chart) </b>
      <br>
      <%=
        daru_chart @df_repos,
                   type: :histogram,
                   adapter: :googlecharts,
                   height: 500,
                   width: 1000
      %>

    </p>
    <br>
</div>
