<h3> 3d column Graph </h3>
<p>
  <b>Data : </b>
  <%=raw @df_repos_chart.data %>
  <br>
  <b>Options</b>
  <%=raw @df_repos_chart.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @df_repos_chart.div %>
</p>
<br>