<h3> SciRuby github data analysis</h3>
<p>
  <b>SciRuby Datatable : </b>
  <%=raw @df_repo_table.div %>
  <br>
  <b>Options</b>
  <%=raw @df_repos_chart.options %>
  <br>

  <b>Chart : </b>
  <br>
  <%=raw @df_repos_chart.div %>
</p>
<br>